header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    width: 100vw;
    letter-spacing: 2px;
}

.headerLogo {
    width: 140px;
    display: flex;
    justify-content: center;
    opacity: 0;
}

.linksContainer {
    display: flex;
    padding-right: 20px;
}

.linksContainer a{
    margin-right: 30px;
    display: flex;
    text-decoration: none;
    font-size: large;
    color: white;
}

.linksContainer a:hover div:nth-child(1){
    transition: 0.1s ease-in;
    transition-delay: 0.1s;
    transform: translateY(-2px);
}

.linksContainer a:hover div:nth-child(2){
    transition: 0.1s ease-in;
    transform: translateY(-2px);
    transition-delay: 0.2s;
    color: #01C8EE;
}

.linksContainer a:hover div:nth-child(3){
    transition: 0.1s ease-in;
    transition-delay: 0.3s;
    transform: translateY(-2px);
    color: #01C8EE;
}

.linksContainer a:hover div:nth-child(4){
    transition: 0.1s ease-in;
    transition-delay: 0.4s;
    transform: translateY(-2px);
    color: #01C8EE;
}

.linksContainer a:hover div:nth-child(5){
    transition: 0.1s ease-in;
    transition-delay: 0.5s;
    transform: translateY(-2px);
    color: #01C8EE;
}

.linksContainer a:hover div:nth-child(6){
    transition: 0.1s ease-in;
    transition-delay: 0.6s;
    transform: translateY(-2px);
    color: #01C8EE;
}

.linksContainer a:hover div:nth-child(7){
    transition: 0.1s ease-in;
    transition-delay: 0.7s;
    transform: translateY(-2px);
    color: #01C8EE;
}

.linksContainer a:hover div:nth-child(8){
    transition: 0.1s ease-in;
    transition-delay: 0.8s;
    transform: translateY(-2px);
    color: #01C8EE;
}

.linksContainer a:hover div:nth-child(9){
    transition: 0.1s ease-in;
    transition-delay: 0.9s;
    transform: translateY(-2px);
    color: #01C8EE;
}

.linksContainer a:hover div:nth-child(10){
    transition: 0.1s ease-in;
    transition-delay: 1s;
    transform: translateY(-2px);
    color: #01C8EE;
}

.linksContainer a:hover div:nth-child(11){
    transition: 0.1s ease-in;
    transition-delay: 1.1s;
    transform: translateY(-2px);
    color: #01C8EE;
}

@media (max-width: 700px) {
    .linksContainer{
        display: none;
    }
}